<script>

var need_challenge2 = <%= @need_challenge2 %>
var need_closeness2 = <%= @need_closeness2 %>
var need_curiosity2 = <%= @need_curiosity2 %>
var need_excitement2 = <%= @need_excitement2 %>
var need_harmony2 = <%= @need_harmony2 %>
var need_ideal2 = <%= @need_ideal2 %>
var need_liberty2 = <%= @need_liberty2 %>
var need_love2 = <%= @need_love2 %>
var need_practicality2 = <%= @need_practicality2 %>
var need_selfexpression2 = <%= @need_selfexpression2 %>
var need_stability2 = <%= @need_stability2 %>
var need_structure2 = <%= @need_structure2 %>

drawChart('chart_need_div2');

</script>

<div id="chart_need_div2"></div>
