<script>

var need_challenge1 = <%= @need_challenge1 %>
var need_closeness1 = <%= @need_closeness1 %>
var need_curiosity1 = <%= @need_curiosity1 %>
var need_excitement1 = <%= @need_excitement1 %>
var need_harmony1 = <%= @need_harmony1 %>
var need_ideal1 = <%= @need_ideal1 %>
var need_liberty1 = <%= @need_liberty1 %>
var need_love1 = <%= @need_love1 %>
var need_practicality1 = <%= @need_practicality1 %>
var need_selfexpression1 = <%= @need_selfexpression1 %>
var need_stability1 = <%= @need_stability1 %>
var need_structure1 = <%= @need_structure1 %>

drawChart('chart_need_div');

</script>

<div id="chart_need_div"></div>
