Personality Analysis
<br>
<script>

var oR2 = <%= @openness_rating2 %>
var cR2 = <%= @conscientiousness_rating2 %>
var eR2 = <%= @extraversion_rating2 %>
var aR2 = <%= @agreeableness_rating2 %>
var nR2 = <%= @neuroticism_rating2 %>

drawChart2('chart_div2');

</script>

<div id="chart_div2"></div>
