<script>

var oR = <%= @openness_rating1 %>
var cR = <%= @conscientiousness_rating1 %>
var eR = <%= @extraversion_rating1 %>
var aR = <%= @agreeableness_rating1 %>
var nR = <%= @neuroticism_rating1 %>

drawChart('chart_div');

</script>

<div id="chart_div"></div>
