<script>

var conservation1 = <%= @values_conservation1 %>
var openness_to_change1 = <%= @values_openness_to_change1 %>
var hedonism1 = <%= @values_hedonism1 %>
var self_enhancement1 = <%= @values_self_enhancement1 %>
var self_transcendence1 = <%= @values_self_transcendence1 %>


drawChart('chart_value_div');

</script>

<div id="chart_value_div"></div>
