<script>

var conservation2 = <%= @values_conservation2 %>
var openness_to_change2 = <%= @values_openness_to_change2 %>
var hedonism2 = <%= @values_hedonism2 %>
var self_enhancement2 = <%= @values_self_enhancement2 %>
var self_transcendence2 = <%= @values_self_transcendence2 %>


drawChart('chart_value_div2');

</script>

<div id="chart_value_div2"></div>
