

<div class="col-md-6 left">
  <% if @tweet1.present? %>
  <h4>Tweet: <%= params[:search_term1] %></h4>
  <% end %>

 <div class="map_both">
   <div id="map-canvas"></div>
 </div>

 <div class="sentiment_both">
   Placeholder for Sentiment Analysis
   <!-- test for geo1 array elements rendering -->
   <% if @geo1 %>
    <% @geo1.each do |geo| %>
      <%= geo[0] %><br>
      <%= geo[1] %>
    <% end %>
    <% end %>
 </div>

 <div class="tweet_both">
   <%= render "tweet1" %>
 </div>

</div>


<div class="col-md-6 right">
  <% if @tweet2.present? %>
  <h4>Tweet: <%= params[:search_term2] %></h4>
  <% end %>

 <div class="map_both">
   <div id="map-canvas-2"></div>
 </div>

 <div class="sentiment_both">
   Placeholder for Sentiment Analysis
   <!-- test for geo1 array elements rendering -->
   <% if @geo2 %>
    <% @geo2.each do |geo| %>
      <%= geo[0] %><br>
      <%= geo[1] %>
    <% end %>
    <% end %>
 </div>

 <div class="tweet_both">
   <%= render "tweet2" %>
 </div>

</div>
