

<div class="col-md-6 left">
  <% if @tweet1.present? %>
  <h4>Tweet: <%= params[:search_term1] %></h4>
  <% end %>

 <div class="map_both">
   <div id="map-canvas"></div>
 </div>

 <div class="personality_both">
   <%= render "personality1" %>
 </div>

 <div class="tweet_both">
   <%= render "tweet1" %>
 </div>

</div>


<div class="col-md-6 right">
  <% if @tweet2.present? %>
  <h4>Tweet: <%= params[:search_term2] %></h4>
  <% end %>

 <div class="map_both">
   <div id="map-canvas-2"></div>
 </div>

 <div class="personality_both">
   <%= render "personality2" %>
 </div>

 <div class="tweet_both">
   <%= render "tweet2" %>
 </div>

</div>
