<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Oxygen:700' rel='stylesheet' type='text/css'>
  <title>SocialComp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false">
  </script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});
  google.load("visualization", "1", {packages:["gauge"]});
  </script>
  <script>
  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);
  google.setOnLoadCallback(drawChart2);
  google.setOnLoadCallback(drawGaugeChart);
  google.setOnLoadCallback(drawGaugeChart2);
  </script>


  <navbar>
    <div class="topbar text-center">
      <br>
      <div class="form-group">
        <h4>
          Social Comps
        </h4><h5>
          <%= form_tag '/', method: :get do %>
          <%= text_field_tag :search_term1, nil, placeholder: 'First Brand' %> Vs.
          <%= text_field_tag :search_term2, nil, placeholder: 'Second Brand' %>
        </h5>
          <%= submit_tag 'Compare Tweets', class: 'btn btn-primary' %>
          <% end %>

      </div>
    </div>
    <div class="botbar text-center container-fluid">
      <div class="form-group">
        <div class="btn btn-default col-md-3 map_btn"> Maps </div>
        <div class="btn btn-default col-md-3 per_btn"> Personality </div>
        <div class="btn btn-default col-md-3 sen_btn"> Sentiment </div>
        <div class="btn btn-default col-md-3 twt_btn"> Tweets </div>
      </div>
    </div>
  </navbar>

</head>
<body>

<%= yield %>

  <!-- This javascript renders the google api maps -->
<script>
  var locations = <%= raw @geo1 %>
  var locations2 = <%= raw @geo2 %>

  mapBuilder('map-canvas', locations)
  mapBuilder('map-canvas-2', locations2)
</script>
</body>

</html>
